@media screen and (max-width: 1000px) {
    *{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    html{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family:'Catamaran', sans-serif;
    }
    .menu{
        display: block;
        margin: auto 0 auto 15em;
    }
    header{
        justify-content: space-between;
        align-content: flex-start;
        width: 100%;
        margin: 0;
    }
    nav{
        display: none;
        position: absolute;
        background:rgba(0,0,0,0.9);
        width: 100%;
        top: 75px;
        text-align: center;
        margin: 0;
    }
    nav li{
        display: inline-block;
        margin: 0;
        padding:3% 0;
        width: 100%;
    }
    nav li:hover{
        border: none;
    }
    header img{
        width: 90%;
        height: 90%;
        margin: 1% 0 0 1em;
    }
    .toggle{
        display: block;
    }
    section{
        width: 100%;
    }
    
/*landing section css*/
    #landing_section{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .landing_view{
        width: 100%;
        padding: 40% 0 50%;
    }
    #enactus_h1{
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
    #enactus_h1 span{
        font-size: 30px;
        margin: 0;
    }
    .en_page{
        text-align: left;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    #landing_section h1:last-child{
        font-size: 90%;
        text-align: center;
    }
    .h1{
        font-size: 30px;
    }
    #landing_section button{
        width: 50%;
        padding: 1em;
        text-align: center;
        margin: 1em 25% 0;
    }
/*Section two css*/
    #whatWeDo{
        width: 100%;
        margin: 0;
    }
    #whatWeDo-content{
        width: 100%;
        margin: 0;
    }
    #whatWeDo-content p{
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin: 0;
    }
    #whatWeDo-content span{
        font-size: 20px;
        padding: .5px; 
        margin: 0;
    }
    #whatWeDo-video{
        width: 80%;
        margin: 3em auto 1em;
    }
    #whoWeAre-clips{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        margin: 0;
    }
    #whoWeAre-clips img{
        width: 60%;
        margin: 0 auto;
    }
    /*Section three css*/
    .section-three{
        width: 100%;
    }
    #enactus{
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    #enactus p{
        width: 100%;
        font-size: 20px;
        margin: 1em 0;
        padding-left: 3%;
    }
    .enactus{
        font-size: 25px;
    }
    /*Section four css*/
    .section-four p{
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    .social_projects{
        width: 100%;
        flex-wrap: wrap;
    }
    #twitter-feeds{
        width: 80%;
        margin: 3% auto;
        border: none;
    }
    #project{
        width: 100%;
        height: 100%;
    }
    #project h1{
        width: 91%;
        margin: auto;
    }
    .project1{
        height: 250px;
        width: 90%;
        margin: 0 auto;
    }
    #project_about p{
        font-size: 12px;
        margin: 5% .2%;
    }
    #project img{
        height: 100%;
        width: 45%;
    }
    .project1:last-child{
        margin-top: 6%;
    }
    .project1 button{
        padding: .5em;
        width: 50%;
    }
    /*Section-Five css*/
    .section-five{
        width: 100%;
    }
    .section-five p{
        width: 100%;
        font-size: 20px;
    }
    .section-five button{
        font-size: 20px;
        width: 35%;
    }
    /*Section-six css*/
    .section-six{
        width: 100%;
    }
    #team_excos{
        width: 100%;
        flex-wrap: wrap;
    }
    .exco{
        width: 60%;
    }
    #team_excos i{
        border: none;
        border-radius: 100%;
        background: black;
        color: white;
        padding: .8em;
        width: 15px;
    }
    .section-six button{
        width: 40%;
    }
    .section-six img{
        border-radius: 100%;
        margin: 3% 0;
    }
    /*Footer css*/
    footer, #footer{
        width: 100%;
    }
    footer section{
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
    }
    footer div{
        margin-top: 10%;
    }
    footer img{
        width: 40%;
    }

    /*Team.html css*/
    #theTeam_section{
        width: 90%;
        margin: auto;
        padding: 8em 0 0;
    }
    .theTeam{
        width: 100%;
        margin: 0;        
    }
    #academic_leaders{
        width: 90%;
        margin: auto;
        padding: 15% 0;
    }
    #academic_leaders aside{
        width: 85%;
        /* padding: 1em; */
    }
    #academic_leaders aside div{
        padding: 25% 0 10%;
        height: 150px;
    }

    /*AboutUS.html css*/
    #team_win{
        width: 100%;  
    }
    #team_win div{
        padding: 25% 0;
    }
    .enactus-futo{
        width: 90%;
    }
    .enactus-futo h1, .enactus-futo h2{
        margin-bottom: 1em;
    }
    .enactus-futo article{
        width: 100%;
        flex-wrap: wrap;
    }
    .enactus-futo article div{
        width: 80%;
        margin-top: 2em;
        text-align: center;
        /* padding: 2em 0; */
    }
    .award{
        width: 100%;
        padding: 5% 0;
    }
    #award{
        width: 70%;
    }
    .enactus-futo button{
        width: 50%;
        padding: 2% 0;
        background: transparent;
        border: 2px solid black;
    }
    
}